
$lg-breakpoints: 13;
$lg-offset-breakpoints: 13;

.container {
    display: flex;
    flex-wrap: wrap;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 to $lg-breakpoints {
    .col-lg-#{$i} {
        width: #{50px * $i};
        padding-left: 15px;
        padding-right: 15px;
    }
}