
@import url('https://fonts.googleapis.com/css?family=Istok+Web');
@import url('https://fonts.googleapis.com/css?family=Lora');

// typography
$font-heading: 'Istok Web', sans-serif;
$font-heading-weight: bold;
$font-body: 'Lora', serif;
$font-body-weight: normal;
$font-body-size: 16px;
