
// Colors
$bg-color: rgb(255, 255, 255);
$font-color: rgb(0, 0, 0);
$link-color: rgb(40, 54, 255);

// Colors for navbar
$nav-bg-color: transparent;

.is-success {
    background-color: green;
    color: white;
}

.is-warning {
    background-color: orange;
    color: white;
}

.is-danger {
    background-color: red;
    color: white;
}

.is-info {
    background-color: blue;
    color: white;
}