
$stops: 6;

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

@for $i from 1 to $stops {
    $value: #{10px * $i};

    .ml-#{$i} {
        margin-left: $value;
    }

    .mt-#{$i} {
        margin-top: $value;
    }

    .mr-#{$i} {
        margin-right: $value;
    }

    .mb-#{$i} {
        margin-bottom: $value;
    }

    .pl-#{$i} {
        padding-left: $value;
    }

    .pt-#{$i} {
        padding-top: $value;
    }

    .pr-#{$i} {
        padding-right: $value;
    }

    .pb-#{$i} {
        padding-bottom: $value;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.border {
    border-style: line;
    border-color: rgb(68, 68, 68);
}

.border-left {
    border-style: line;
    border-color: rgb(68, 68, 68);
}

.border-top {
    border-style: line;
    border-color: rgb(68, 68, 68);
}

.border-right {
    border-style: line;
    border-color: rgb(68, 68, 68);
}

.border-bottom {
    border-style: line;
    border-color: rgb(68, 68, 68);
}