@import 'partials/base';
@import 'modules/all';


body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $font-body;
    font-weight: $font-body-weight;
    font-size: $font-body-size;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: $font-heading-weight;
}